{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" .)}}

<div id="home" class="container pt-8 pb-8 pt-md-10 pb-md-10">

  <div class="row justify-content-center">
    {{ range .Site.Data.whoweare }}
    <div class="col-12 col-md-6 col-lg-3 mb-2">
      <div class="feature">
        {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .image }}" /></div> {{ end }}
        <h2 class="feature-title">{{ .title }}</h2>
        <div class="feature-content">{{ .description }}</div>
      </div>
    </div>
    {{end}}
  </div>
</div>

{{ .Content }}

{{ end }}