{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" .)}}
<div class="container pb-6 pt-6 pb-md-10 pt-md-10">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ if .Site.Data.contact.address }}
        <li><strong>Address: </strong>{{ .Site.Data.contact.address }}</li>
        {{ end }}
      </ul>
      <h4 class="mt-4">Business Hours</h4>
      <table class="table table-sm opening-hours-table">
        <tr>
          <td class="day font-weight-bold">Monday</td>
          <td class="opens">8:30am</td>
          <td>-</td>
          <td class="closes">5:00pm</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">Tuesday</td>
          <td class="opens">8:30am</td>
          <td>-</td>
          <td class="closes">5:00pm</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">Wednesday</td>
          <td class="opens">8:30am</td>
          <td>-</td>
          <td class="closes">5:00pm</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">Thursday</td>
          <td class="opens">8:30am</td>
          <td>-</td>
          <td class="closes">5:00pm</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">Friday</td>
          <td class="opens">8:30am</td>
          <td>-</td>
          <td class="closes">5:00pm</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">Saturday</td>
          <td class="opens">Closed</td>
          <td></td>
          <td class="closes"></td>
        </tr>
        <tr>
          <td class="day font-weight-bold">Sunday</td>
          <td class="opens">Closed</td>
          <td> </td>
          <td class="closes"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{ end }}